<aside class="filters">
  <h2>Filtros</h2>
  <div class="filter-group">
    <label for="typeFilter">Tipo</label>
    <select *ngIf="tipos.length > 0" id="typeFilter" [(ngModel)]="tipoSeleccionado">
      <option [ngValue]="0">Todos</option> <!-- opción 'Todos' -->
      <option *ngFor="let tipo of tipos" [ngValue]="tipo.id_tipo_mascota">{{tipo.nombre}}</option>
    </select>
    <select *ngIf="tipos.length <= 0" id="typeFilter">
      <option value="todos">Todos</option>
      <option value="perro">Perro</option>
      <option value="gato">Gato</option>
      <option value="conejo">Conejo</option>
      <option value="ave">Ave</option>
      <option value="pez">Pez</option>
    </select>
  </div>
  <div class="filter-group">
    <label for="razaFilter">Raza</label>
    <select *ngIf="razas.length > 0" id="typeFilter" [(ngModel)]="razaSeleccionada">
      <option [ngValue]="0">Todos</option> <!-- opción 'Todos' -->
      <option *ngFor="let raza of razas" [ngValue]="raza.id_raza">{{raza.nombre}}</option>
    </select>
    <select *ngIf="razas.length <= 0" id="razaFilter">
      <option value="todos">Todos</option>
      <option value="chihuahua">Chihuahua</option>
      <option value="golden">Golden Retriever</option>
      <option value="chusco">Chusco</option>
      <option value="labrador">Labrador</option>
      <option value="siames">Siamés</option>
      <option value="husky">Husky</option>
      <option value="angora">Angora</option>
      <option value="betta">Betta</option>
      <option value="orejascaidas">Orejas caídas</option>
    </select>
  </div>

  <div class="filter-group">
    <label for="sexFilter">Sexo</label>
    <select id="sexFilter" [(ngModel)]="sexoSeleccionado">
      <option value="">Todos</option>
      <option value="M">Macho</option>
      <option value="F">Hembra</option>
    </select>
  </div>
  <div class="filter-group">
    <label for="discFilter">Discapacidad</label>
    <select id="discFilter" [(ngModel)]="discapacidadSeleccionada">
      <option [ngValue]="-1">Todos</option>
      <option [ngValue]="1">Sí</option>
      <option [ngValue]="0">No</option>
    </select>
  </div>

  <button (click)="aplicarFiltro()">Aplicar Filtro</button>
  <button (click)="listaMascotas()">Limpiar Filtros</button>
</aside>

<!-- Contenido principal -->
<div id="pages-container">
  <!-- Página 1 -->
  <section id="pagina1" class="active">
    <div class="pet-grid" *ngIf="mascotas.length > 0">
      <div *ngFor=" let mascota of mascotasPaginadas" class="card">
        <img src="{{mascota.foto}}" alt="Toby"/>
        <div class="card-body">
          <h3>{{ mascota.nombre }}</h3>
          <p>{{mascota.sexo}} | {{ mascota.peso }} | {{mascota.estatura}}kg</p>
          <button (click)="abrirModal(mascota)">Ver detalles</button>
        </div>
      </div>

      <!--<nav class="pagination">
        <button (click)="cambiarPagina(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
        <button *ngFor="let page of [].constructor(Math.ceil(mascotas.length / itemsPerPage)); let i = index"
                [class.active]="currentPage === i + 1"
                (click)="cambiarPagina(i + 1)">
          {{ i + 1 }}
        </button>
        <button (click)="cambiarPagina(currentPage + 1)" [disabled]="currentPage === Math.ceil(mascotas.length / itemsPerPage)">Siguiente</button>
      </nav>-->
    </div>

    <div class="pet-grid" *ngIf="mascotas.length < 1">
      <p>No se encontraron mascotas que coincidan con los filtros aplicados.</p>
      <p>Por favor, ajusta los filtros y vuelve a intentarlo.</p>
    </div>
  </section>

</div>

<!-- Paginación -->
<nav class="pagination">
  <button (click)="cambiarPagina(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
  <button *ngFor="let page of [].constructor(Math.ceil(mascotas.length / itemsPerPage)); let i = index"
          [class.active]="currentPage === i + 1"
          (click)="cambiarPagina(i + 1)">
    {{ i + 1 }}
  </button>
  <button (click)="cambiarPagina(currentPage + 1)" [disabled]="currentPage === Math.ceil(mascotas.length / itemsPerPage)">Siguiente</button>
</nav>

<!--<nav class="pagination">
  <button id="prevPage">Anterior</button>
  <button class="page-number active" data-page="pagina1">1</button>
  <button class="page-number" data-page="pagina2">2</button>
  <button class="page-number" data-page="pagina3">3</button>
  <button id="nextPage">Siguiente</button>
</nav>-->

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="ModalLabel">Mascota</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="nombre">Nombre</label>
            <input id="nombre" [(ngModel)]="mascota.nombre" name="nombre" class="form-control" disabled>
          </div>
          <div class="form-group col-md-6">
            <label for="sexo">Sexo</label>
            <input id="sexo" [(ngModel)]="mascota.sexo" name="sexo" class="form-control" disabled>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="tipo">Tipo</label>
            <input id="tipo" [(ngModel)]="mascota.tipo_mascota" name="tipo" class="form-control" disabled>
          </div>
          <div class="form-group col-md-6">
            <label for="raza">Raza</label>
            <input id="raza" [(ngModel)]="mascota.raza" name="raza" class="form-control" disabled>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="estatura">Estatura</label>
            <input id="estatura" [(ngModel)]="mascota.estatura" name="estatura" class="form-control" disabled>
          </div>
          <div class="form-group col-md-6">
            <label for="peso">Peso</label>
            <input id="peso" [(ngModel)]="mascota.peso" name="peso" class="form-control" disabled>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="fechaNac">Fecha de Nacimiento</label>
            <input id="fechaNac" value="{{mascota.fec_nacimiento | date: 'dd/MM/yyyy'}}" name="fechaNac" class="form-control" disabled>
          </div>
          <div class="form-group col-md-6">
            <label for="fechaIng">Fecha de Ingreso</label>
            <input id="fechaIng" value="{{mascota.fec_ingreso | date: 'dd/MM/yyyy'}}" name="fechaIng" class="form-control" disabled>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="adoptado">Adoptado</label>
            <input id="adoptado" value="{{mascota.adoptado ? 'Ya adoptado': 'Todavía'}}" name="adoptado" class="form-control" disabled>
          </div>
          <div class="form-group col-md-6">
            <label for="discapacidad">Discapacidad</label>
            <input id="discapacidad" value="{{mascota.discapacidad ? 'Con discapacidad': 'Sin discapacidad'}}" name="discapacidad" class="form-control" disabled>
          </div>
        </div>
<!--        <button type="submit" class="btn btn-success">Guardar</button>-->
      </div>
    </div>
  </div>
</div>
