<section class="hero">
  <div class="hero-text">
    <h1>Facilitando la adopción desde un solo punto de acceso</h1>
    <p>Para que todas las mascotas tengan las mismas oportunidades.</p>
  </div>
  <img src="assets/portada.png" alt="Perro feliz" class="hero-img">
</section>

<section class="about">
  <h2>Bienvenidos a Adóptame</h2>
  <p>
    Nos comprometemos a unir corazones y patas. Nuestra misión es centralizar
    los datos de albergues de mascotas en Lima, facilitando la adopción para que
    cada mascota encuentre un hogar lleno de amor.
  </p>
</section>

<!--<section class="image-section">
  <img src="assets/dog-cat.png" alt="Perro y gato felices">
</section>-->

<footer class="footer">
  <p>&copy; 2025 Adóptame. Creado por Huella Colectiva.</p>
</footer>
